@import "./montserrat";

body {
  font-family: 'Montserrat', sans-serif !important;
}

code {
  font-family: 'Montserrat', sans-serif !important;
}

input {
  font-family: 'Montserrat', sans-serif !important;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-base {
  flex: 1;
}